node_modules/
images/
.env
*.log
*.pid
*.pid.lock
*.seed
.DS_Store
.vscode/
.idea/
*.sublime-*
coverage/
*.lcov
build/
dist/
.next/
.nuxt/
.cache/
.parcel-cache/
*.tar.gz
*.zip
*.tmp
*.temp
*.sqlite
desktop.ini