body {
  font-family: Arial, sans-serif;
  background-color: #eee;
}

h1 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100px;
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
  color: #aaa;
}

#prompt {
  font-family: arial, sans-serif;
  font-size: 1.25em;
  padding: 5px;
}

.wrapper {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group select,
.form-group textarea {
  width: 100%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images img {
  max-height: 800px;
}

.image-wrapper {
  margin-top: 20px;
  text-align: center;
  border-bottom: 2px solid #aaa;
  margin-bottom: 50px;
}

.form-group-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  min-width: 80px;
  margin: 0 10px;
}

#generate {
  display: block;
  margin: auto;
  font-size: 1.25em;
  min-width: 120px;
}

#useExactPrompt {
  display: inline-block;
  margin-right: 5px;
}

label[for="useExactPrompt"] {
  display: inline;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
  background-color: white;
  padding: 20px;
}
