body {
  font-family: Arial, sans-serif;
}

#prompt {
  font-family: arial, sans-serif;
  font-size: 1.25em;
}

.wrapper {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group select,
.form-group textarea {
  width: 100%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-wrapper {
  margin-top: 20px;
  text-align: center;
}

.form-group-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-group {
  flex: 1; /* This will allow each .form-group to grow */
  min-width: 120px; /* This prevents the .form-group from being too small */
  margin: 0 10px; /* This adds spacing between the .form-group elements */
}

#generate {
  display: block;
  margin: auto;
  font-size: 1.25em;
  min-width: 120px;
}


@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
