body {
  font-family: Arial, sans-serif;
  background-color: #eee;
}

h1 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100px;
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
  color: #aaa;
}

#prompt {
  font-family: arial, sans-serif;
  font-size: 1.25em;
  padding: 5px;
}

.wrapper {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group select,
.form-group textarea {
  width: 100%;
}

.form-group-numImages {
  display: none;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images img.generatedImage {
  max-height: 800px;
}

.images img.fullSizeImage {
  max-height: none !important;
}

.image-wrapper {
  margin-top: 20px;
  text-align: center;
  border-bottom: 2px solid #aaa;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.form-group-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  min-width: 80px;
  margin: 0 10px;
}

#generate {
  display: block;
  margin: auto;
  font-size: 1.25em;
  min-width: 120px;
  border: 1px solid #aaa;
  border-bottom: 1px solid #000;
  border-radius: 3px;
  background-color: #fff;
}

#generate:active {
  color: #999;
  border-bottom: 1px solid #aaa;
}

#useExactPrompt {
  display: inline-block;
  margin-right: 5px;
}

label[for="useExactPrompt"] {
  display: inline;
}

.extraLinks {
  position: absolute;
  width: 100px;
  top: 80px;
  left: 10px;
  user-select: none;
}

.extraLink {
  margin-top: 5px;
  margin-bottom: 15px;
}

.extraLinks a,
.extraLinks a:visited,
.extraLinks .pseudoLink {
  color: #888;
  text-decoration: none;
  cursor: pointer;
}

.extraLinks a span,
.extraLinks .pseudoLink span {
  text-decoration: underline;
}

.extraLinks a:hover span,
.extraLinks .pseudoLink:hover span {
  color: #222;
}

.copyToClipboard {
  border: 0;
  border-radius: 3px;
  padding: 2px;
}

.copyToClipboard:hover {
  background-color: #fff;
}

.copyToClipboard span {
  color: #999;
  font-weight: bold;
}

.error-wrapper {
  color: red;
  font-weight: bold;
}

@keyframes background-fade {
  from { background-color: green; }
  to { background-color: initial; }
}

.copy-success {
  animation: background-fade 1s;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.additionalButtons {
  display: none;
  margin-left: 30px;
}

a.additionalButtonsLink {
  display: inline-block;
  margin-left: 10px;
  color: #888;
}

.promptWrapper {
  padding-top: 16px;
  padding-bottom: 16px;
}

.creationTools {
  margin-top: 16px;
  margin-bottom: 16px;
}

.imageButton {
  margin-left: 10px;
}

.redoPrompt {
  margin-left: 20px;
}

.imageButton,
.redoPrompt {
  border: 1px solid #aaa;
  border-bottom: 1px solid #000;
  border-radius: 3px;
  min-width: 70px;
  min-height: 25px;
}

.imageButton:hover,
.redoPrompt:hover {
  background-color: #fff;
}

.imageButton:active,
.redoPrompt:active {
  color: #999;
}

.creationSettings {
  margin-top: 16px;
  color: #555;
  font-style: italic;
}

.prompt {
  padding-bottom: 10px;
}

#inspirer {
  position: absolute;
  bottom: 3%;
  left: 5%;
  width: 90%;
  height: 80%;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  overflow: hidden;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

#inspirerLink,
#searchLink {
  font-weight: bold;
}

.searchHit {
  background-color: rgba(255, 255, 0, 0.5);
  font-weight: bold;
}

@media (max-width: 600px) {

  body {
    margin: 0;
    padding: 0;
  }

  h1 {
    display: none;
  }

  .wrapper {
    max-width: none;
    margin: auto;
    margin-top: 50px;
    width: 97%;
    padding: 0;
    margin-left: 5px;
  }

  #prompt {
    height: 120px;
    width: 96%;
  }

  .extraLinks {
    position: absolute;
    top: 5px;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    text-align: center;
  }
  
  .extraLink {
    margin: 0 10px;
  }

  .images img.generatedImage {
    max-width: 98%;
  }
}
